@font-face {
    font-family: 'Netflix Sans';
    src: url('fonts/netflix-sans-core-variable-full.woff2') format('woff2'); 
    font-weight: 100 900;
    font-display: swap;
}
html{
   font-family: 'Netflix Sans', sans-serif;
  -webkit-text-size-adjust: 100%;
}
html,body{
  background: #000;
  max-width: 100%;
}
body{
  word-break: keep-all;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
input,select,textarea{
  outline: 0;
  border: 0;
   font-family: 'Netflix Sans', sans-serif;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit
}
.layout{
  width: 100%;
  color: #fff;
}
.wrap{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}
/* main */
.main{
  position: relative;
  width: 100%;
}
.main-inner{
  z-index: 1;
  position: relative;
  width:100%;
}
/* main - gradient */
.main-gradient{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
  height: 100%;
  max-width: 100%;
  overflow: hidden;
  z-index: -1;
}
.main-gradient1{
  z-index: 1;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  bottom: 100px;
  background: radial-gradient(11% 56% at 17% 50%, #461518 0%, transparent 100%),radial-gradient(11% 56% at 83% 50%, #461518 0%, transparent 100%);
}
.main-gradient2{
  z-index: 2;
  position: absolute;
  top: 0;
  left: calc(50% - 0.25rem);
  transform: translate(calc(-50% + 0.25rem), 0px);
  bottom: 100px;
  width: 120.5rem;
  background: linear-gradient(
        0deg,
        transparent 0%,
        #6f181d 50%,
        transparent 100%
    );
}

.main-head{
  width: 100%;
  position: relative;
  z-index: 2;
  background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.8000) 0.000%, rgba(0, 0, 0, 0.7889) 8.333%, rgba(0, 0, 0, 0.7556) 16.67%, rgba(0, 0, 0, 0.7000) 25.00%, rgba(0, 0, 0, 0.6222) 33.33%, rgba(0, 0, 0, 0.5222) 41.67%, rgba(0, 0, 0, 0.4000) 50.00%, rgba(0, 0, 0, 0.2778) 58.33%, rgba(0, 0, 0, 0.1778) 66.67%, rgba(0, 0, 0, 0.1000) 75.00%, rgba(0, 0, 0, 0.04444) 83.33%, rgba(0, 0, 0, 0.01111) 91.67%, rgba(0, 0, 0, 0.000) 100.0%
    );
}
.main-head-inner{
  width: 100%;
  max-width: 120rem;
  height: 7.5rem;
  margin: 0 auto -7.5rem auto;
  padding: 0 1.5rem;
}
.main-head-wrap{
  width: 100%;
  height: 5rem;
  display: inherit;
  box-sizing: border-box;
}
.header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  column-gap: 16px;
  row-gap: 0;
  width: calc(100% + 16px);
  padding: 0;
}
.header-left{
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
}
/* content */
.content{
  margin-top: -3rem;
  padding: 0 1.5rem;
}

@media (min-width:600px) {
  .content{
  margin-top: -2rem;
  padding: 0 2rem;
}
.main-head-inner{
  padding: 0 2rem;
}
}
@media (min-width:960px) {
  .content{
  padding: 0 5rem;
}
}